*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a2d2ff;
}
.container{
    margin-left: 30%;
    margin-top: 30px;
    background: #219ebc;
    width: 50vw ;
    padding: 10px;
    border-radius: 5px;


    

}